In [2]:
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import nltk
import gensim
from gensim.models import LdaModel
from gensim import models, corpora, similarities
from gensim.parsing.preprocessing import STOPWORDS

import re
from nltk.stem import WordNetLemmatizer
import time
from nltk import FreqDist
from scipy.stats import entropy
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [4]:
table = pd.read_csv(r'C:\Users\Asus\PycharmProjects\Scrapy\parse_wikipedia\wikipedia_articles.csv')

In [5]:
table.tail()

,Title,URL,Text,Table Table
11416,Circus,https://en.wikipedia.org/wiki/Circus_(Britney_...,\n\n\nCircus\n is the sixth studio album by Am...,Circus\nStandard edition. The deluxe edition f...
11417,Character (symbol),https://en.wikipedia.org/wiki/Character_(symbol),A \ncharacter\n is a \nsign\n or \nsymbol\n.\n...,\n\n\n\n\n\nLook up \ncharacter\n in Wiktionar...
11418,Three Hearts,https://en.wikipedia.org/wiki/Three_Hearts_(film),Three Hearts\n (\nFrench\n: \n3 cœurs\n) is a ...,Three Hearts\nTheatrical release poster\nDirec...
11419,Gryllinae,https://en.wikipedia.org/wiki/Gryllinae,"\n\nMany, see text\n\nGryllinae\n, or \nfield ...",\n\n\n\n\nGryllinae\n\n\n\n\n\n\n\n\n\n\n\nCom...
11420,Gryllus campestris,https://en.wikipedia.org/wiki/Gryllus_campestris,"\n\nGryllus campestris\n, the \nEuropean field...",\n\n\n\n\nGryllus campestris\n\n\n\n\n\n\n\n\n...

In [6]:
table[table.duplicated(subset=['Title'])].head()

,Title,URL,Text,Table Table
8,Virus,https://en.wikipedia.org/wiki/Virion,\n\n\n\nSee text\n\n\nA \nvirus\n is a submicr...,\n\n\n\n\nVirus\n\n\n\n\n\n\n\n\n\n\n\nSARS-Co...
49,Recombinant DNA,https://en.wikipedia.org/wiki/Gene_splicing,Recombinant DNA\n (\nrDNA\n) molecules are \nD...,Library resources\n about \n \nRecombinant pro...
395,Hoshū jugyō kō,https://en.wikipedia.org/wiki/Hosh%C5%AB_jugy%...,"Hoshū jugyō kō\n (\n補習授業校\n)\n, or \nhoshūkō\n...",This section \nneeds expansion\n. \nYou can he...
493,Twisted pair,https://en.wikipedia.org/wiki/Twisted-pair_cable,\n\nTwisted pair\n cabling is a type of wiring...,\n\nCommon industry nomenclature for cable con...
509,Token ring,https://en.wikipedia.org/wiki/Token_Ring,Token Ring\n is a \ncomputer networking\n tech...,\n\n\n\n\nStart Delimiter\n\n\n\nAccess Contro...

In [7]:
table[table.duplicated(subset=['URL'])]

Empty DataFrame
Columns: [Title, URL, Text, Table Table]
Index: []

In [8]:
table[table.Title=="Revenue"]

,Title,URL,Text,Table Table
4151,Revenue,https://en.wikipedia.org/wiki/Net_revenue,"In \naccounting\n, \nrevenue\n is the income t...",Part of \na series\n on\nAccounting\n\n\nHisto...
11186,Revenue,https://en.wikipedia.org/wiki/Revenues,"In \naccounting\n, \nrevenue\n is the income t...",Part of \na series\n on\nAccounting\n\n\nHisto...

In [10]:
table[table.Title=="List of "]  # this happens because my scraper was fetching -

# response.xpath('//h1[@class="firstheading"]//text()').extract_first()

# It works almost on every case except these article Whose titles are starting from List of -- Reason??
# go to anyone url from these, and inspect on title, you will get the reason behind it. 

# Don't Worry I'll make changes to my scraper it will work fine in this case, when you run the scraper.

,Title,URL,Text,Table Table
527,List of,https://en.wikipedia.org/wiki/List_of_American...,This article lists characters from the \nanima...,\n\n\n\n\nCast members\n\n\n\n\n\n\n\n\n\n\n\n...
4599,List of,https://en.wikipedia.org/wiki/List_of_Mayday_e...,"\n\n\nMayday\n, known as \nAir Crash Investiga...",Seasons\n[1]\nEpisodes\nOriginally aired\nFirs...
5923,List of,https://en.wikipedia.org/wiki/Phil_and_Lil_DeV...,\n\nRugrats\n includes a large array of charac...,This article has multiple issues.\n Please hel...
6577,List of,https://en.wikipedia.org/wiki/Grolim,This is a \nlist of \nThe Belgariad\n and \nTh...,v\nt\ne\nBibliography\n by \nDavid Eddings\nBe...
6598,List of,https://en.wikipedia.org/wiki/Aldur,This is a \nlist of \nThe Belgariad\n and \nTh...,v\nt\ne\nBibliography\n by \nDavid Eddings\nBe...
6607,List of,https://en.wikipedia.org/wiki/Chaldan,This is a \nlist of \nThe Belgariad\n and \nTh...,v\nt\ne\nBibliography\n by \nDavid Eddings\nBe...
9035,List of,https://en.wikipedia.org/wiki/List_of_Samantha...,The following is a list of characters in the \...,This article \ndoes not \ncite\n any \nsources...
11404,List of,https://en.wikipedia.org/wiki/Gale_Hawthorne,The following is a list of characters in \nThe...,This article \nneeds additional citations for ...

In [11]:
table.drop_duplicates(subset=['Title'],inplace=True)

In [13]:
len(table.index)

11175

In [14]:
table[table.duplicated(subset=['Text'])]

,Title,URL,Text,Table Table
10973,Talk:Political history of the world,https://en.wikipedia.org/wiki/Talk:Political_h...,Navigation menu,\n\nThis is the \ntalk page\n for discussing i...

In [15]:
table.URL[10973]

'https://en.wikipedia.org/wiki/Talk:Political_history_of_the_world'

In [16]:
table = table[table.Text.map(len)>500] # get rid of very small articles

In [17]:
# confirming
table[table.Text.map(len)<500]

Empty DataFrame
Columns: [Title, URL, Text, Table Table]
Index: []

In [18]:
len(table.index)

10909

In [27]:
table.reset_index(drop=True,inplace=True)

In [28]:
table.tail()

,Title,URL,Text,Table Table
10904,Circus,https://en.wikipedia.org/wiki/Circus_(Britney_...,\n\n\nCircus\n is the sixth studio album by Am...,Circus\nStandard edition. The deluxe edition f...
10905,Character (symbol),https://en.wikipedia.org/wiki/Character_(symbol),A \ncharacter\n is a \nsign\n or \nsymbol\n.\n...,\n\n\n\n\n\nLook up \ncharacter\n in Wiktionar...
10906,Three Hearts,https://en.wikipedia.org/wiki/Three_Hearts_(film),Three Hearts\n (\nFrench\n: \n3 cœurs\n) is a ...,Three Hearts\nTheatrical release poster\nDirec...
10907,Gryllinae,https://en.wikipedia.org/wiki/Gryllinae,"\n\nMany, see text\n\nGryllinae\n, or \nfield ...",\n\n\n\n\nGryllinae\n\n\n\n\n\n\n\n\n\n\n\nCom...
10908,Gryllus campestris,https://en.wikipedia.org/wiki/Gryllus_campestris,"\n\nGryllus campestris\n, the \nEuropean field...",\n\n\n\n\nGryllus campestris\n\n\n\n\n\n\n\n\n...

In [29]:
text = '''
https://en.wikipedia.org/wiki/Smash_and_Dash_(disambiguation)
https://en.wikipedia.org/wiki/Category:Cuisine
https://en.wikipedia.org/wiki/Talk:Cuisine
'''

In [39]:
print(re.sub('https://en.wikipedia.org/wiki/[a-zA-Z0-9]+:[a-zA-Z0-9_$()]+',"",text))

https://en.wikipedia.org/wiki/Smash_and_Dash_(disambiguation)

In [38]:
print(re.findall('https://en.wikipedia.org/wiki/[a-zA-Z0-9]+:[a-zA-Z0-9_$()]+',text))

# We do not want these types of links-- But for now these links are aldready filtered out due to this statement
# table = table[table.Text.map(len)>500]

['https://en.wikipedia.org/wiki/Category:Cuisine', 'https://en.wikipedia.org/wiki/Talk:Cuisine']

In [44]:
st = text.split()[1]

In [118]:
re.findall(':',st)

[':', ':']

In [45]:
pattern = 'https://en.wikipedia.org/wiki/[a-zA-Z0-9]+:[a-zA-Z0-9_$()]+'
bool(re.match(pattern,st))

True

In [59]:
table['Table Table'] = table['Table Table'].map(str)

In [60]:
table.Text = table.Text.str.strip()
table['Table Table'] = table['Table Table'].str.strip()

In [61]:
def initial_clean(text):
    """
    Function to clean text of websites, email addresess and any punctuation
    We also lower case the text
    """
    pattern = r"((\S+)?(http(s)?)(\S+))|((\S+)?(www)(\S+))|((\S+)?(\@)(\S+)?)"
    # specially for our dataset
    text = re.sub('[[a-zA-Z0-9]+]|[\n[\nedit\n]+]',' ',text)
    text = re.sub(pattern," ",text)
    text = re.sub("[^a-zA-Z]"," ",text)
    text = text.lower()
    text = nltk.word_tokenize(text)
    return text

stop_words = STOPWORDS

def remove_stop_words(text):
    '''
    Function to remove stopwords from text
    '''
    return [word for word in text if word not in stop_words]

def lemmatize(text):
    '''
    Function to perform lemmatization on text
    '''
    lemmed = [WordNetLemmatizer().lemmatize(word) for word in text if len(word)>2]
    lemmed = [WordNetLemmatizer().lemmatize(word,pos='v') for word in lemmed]
    return lemmed

def apply_all(text):
    return lemmatize(remove_stop_words(initial_clean(text)))

In [63]:
# clean text and title and create new column "tokenized"
t1 = time.time()
table['tokenized'] = table['Text'].apply(apply_all) + table['Table Table'].apply(apply_all)
t2 = time.time()
print("Time to clean and tokenize", len(table), "articles:", (t2-t1)/60, "min")

Time to clean and tokenize 10909 articles: 12.348895414670308 min

In [62]:
table.head()

,Title,URL,Text,Table Table
0,Virus,https://en.wikipedia.org/wiki/Virus,See text\n\n\nA \nvirus\n is a submicroscopic ...,"Virus\n\n\n\n\n\n\n\n\n\n\n\nSARS-CoV-2, a mem..."
1,Morphology (biology),https://en.wikipedia.org/wiki/Morphology_(biol...,Morphology\n is a branch of \nbiology\n dealin...,v\nt\ne\nAnatomy\n and \nmorphology\nFields\n\...
2,Pleomorphism (microbiology),https://en.wikipedia.org/wiki/Pleomorphism_(mi...,"In microbiology, \npleomorphism\n (from \nAnci...",nan
3,Respiratory tract infection,https://en.wikipedia.org/wiki/Respiratory_trac...,A \nrespiratory tract infection\n (\nRTI\n) is...,Respiratory tract infection\nConducting passag...
4,Electron microscope,https://en.wikipedia.org/wiki/Electron_microscopy,An \nelectron microscope\n is a \nmicroscope\n...,Semiconductor and data storage\n\n\nCircuit ed...

In [64]:
# list of all words
all_words = [word for item in list(table['tokenized']) for word in item]
# use nltk fdist to get a frequency distribution of all words
fdist = FreqDist(all_words)
len(fdist) # number of unique words

368797

In [70]:
import pickle

In [71]:
pickle.dump(fdist,open("fdist_file2.pkl","wb"))

In [65]:
fdist

FreqDist({'state': 58380, 'new': 47466, 'year': 39333, 'time': 35958, 'include': 34350, 'city': 31916, 'war': 30863, 'unite': 30571, 'group': 24311, 'national': 23535, ...})

In [72]:
fdist

FreqDist({'state': 58380, 'new': 47466, 'year': 39333, 'time': 35958, 'include': 34350, 'city': 31916, 'war': 30863, 'unite': 30571, 'group': 24311, 'national': 23535, ...})

In [67]:
k = 100000
top_k_words = fdist.most_common(k)
top_k_words[-10:]

[('gigue', 5),
 ('surtitle', 5),
 ('humperdinck', 5),
 ('divertissement', 5),
 ('orphean', 5),
 ('protour', 5),
 ('lemond', 5),
 ('equipe', 5),
 ('kimmage', 5),
 ('uec', 5)]

In [68]:
# function to keep only top k words
top_k_words,_ = zip(*fdist.most_common(k))
top_k_words = set(top_k_words)

def keep_top_k_words(text):
    return [word for word in text if word in top_k_words]

In [69]:
table['tokenized'] = table['tokenized'].apply(keep_top_k_words)

In [86]:
# document length
table['doc_len'] = table['tokenized'].apply(lambda x: len(x))
doc_lengths = list(table['doc_len'])
table.drop(labels='doc_len', axis=1, inplace=True)

print("length of list:",len(doc_lengths),
      "\naverage document length", np.average(doc_lengths),
      "\nminimum document length", min(doc_lengths),
      "\nmaximum document length", max(doc_lengths))

length of list: 10909
average document length 1293.3463195526629
minimum document length 21
maximum document length 24238

In [70]:
corpus = list(table['tokenized'])

In [89]:
pickle.dump(corpus,open("wiki_corpus_file.pkl","wb"))

In [71]:
wiki_title_file = list(table["Title"])
wiki_text_file = list(table["Text"])

In [95]:
wiki_title_file[10]

'Severe acute respiratory syndrome coronavirus 2'

In [96]:
pickle.dump(wiki_title_file,open("wiki_title_file.pkl","wb"))
pickle.dump(wiki_text_file,open("wiki_text_file.pkl","wb"))

pickle.dump(wiki_title_file,open("title_file.pkl","wb"))
pickle.dump(wiki_text_file,open("data_file.pkl","wb"))